[Unit]
Description=audio daemon
Requires=audio.socket
After=network.target

[Service]
Type=notify
# the specific user that our service will run as
User=mvc
Group=mvc
# another option for an even more restricted service is
# DynamicUser=yes
# see http://0pointer.net/blog/dynamic-users-with-systemd.html
RuntimeDirectory=player
WorkingDirectory=/var/www/player
Environment=PYTHONPATH=/opt/player/bin
Environment=PLAYER_DIR=/var/www/player
ExecStart=/opt/player/bin/player play_audio
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
