server {
    listen 80 default_server;
    listen [::]:80 default_server;
    client_max_body_size 4G;

    server_name _;

    keepalive_timeout 5;

    access_log /var/log/nginx/player.access.log;
    error_log /var/log/nginx/player.error.log;

    location /static/ {
        alias /var/www/player/static/;
    }
    location /media/ {
        alias /var/www/player/media/;
    }

    location / {
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Forwarded-Proto $scheme;
      proxy_set_header Host $http_host;
      # we don't want nginx trying to do something clever with
      # redirects, we set the Host: header above already.
      proxy_redirect off;
      proxy_pass http://unix:/run/player.sock;
    }

    proxy_read_timeout 300;
    proxy_connect_timeout 300;
    proxy_send_timeout 300;

    proxy_buffer_size 1024k;
    proxy_buffers 4 1024k;
    proxy_busy_buffers_size 1024k;
}
